@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
:root {
    background: #121212;
    color: white;
}

html {
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
}

body {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 32rem;
    background: #424242;
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.5rem 2rem -0.625rem rgba(150, 170, 180, 0.5);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

form #task {
    width: 100%;
    margin-bottom: 1rem;
}

form #submit, #remove-ticked {
    height: 2rem;
    width: 9rem;
    padding: 0rem;
    align-self: center;
    margin: 0.125rem
}

ul {
    padding: 0rem;
    list-style-type: none;
}

li {
    display: flex;
    padding-top: 1rem;
}

.completed text {
    text-decoration: line-through;
}

.completed .actions span {
    color: grey;
    cursor: default;
}

li .tickbox {
    flex: 1;
    display: flex;
    align-items: center;
}

li text {
    flex: 9;
    display: flex;
    align-items: center;
    inline-size: 22.5rem;
    overflow-wrap: anywhere;
}

li .actions {
    flex: 1;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    cursor: pointer;
}